@{
    ViewBag.Title = "Home Page";
}

@model MyFavoriteMemesEB.Models.HomeViewModel

<div class="jumbotron">
    <h1>My Favorite Memes</h1>
    <p class="lead">There's a whole internet of images out there.  Make a Meme out of it.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Upload an image</h2>
        <p>
            Select an image you want to upload.
        </p>
        <p>
            @using (Html.BeginForm("UoloadImage", "ImageProcessing"))
            {
                <input type="file" name="FileUpload" />
                <input type="text" name="FileName" value="FileName" style="margin-top:10px;"/> <br />
                <input type="submit" name="submit" id="submit" value="Submit" style="margin-top:10px;" />
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>Select an image</h2>
        <div style="width:900px">
            @using (Html.BeginForm("ProcessMeme", "ImageProcessing", FormMethod.Post, new { id = "memeForm" }))
            {
                    <div style="float:left; overflow-y: scroll; overflow-x: hidden; width:50%">
                        <ul id="council-slider" style="margin: 0 auto; list-style: none; min-height: 300px; max-height: 400px;">
                            @foreach (var image in Model.MemeList)
                            {
                                <li class="select-image" style="display:block; border:50px solid #ffffff">
                                    <img id="@image.MemeId" src="@image.ImageUrl" style="float: left; height: auto;width: 75%; margin: 5px" />
                                    <div style="height: 30px; width: 100px; float: left;" />
                                    <input type="hidden" value="@image.MemeId" />
                                    <br />
                                </li>
                            }
                        </ul>
                </div>

                <div style="float:left; width:35%;padding-left:10px">
                    @Html.LabelFor(m => m.SubmitMeme.TopText)<br />
                    @Html.TextBoxFor(m => m.SubmitMeme.TopText)<br />
                    
                    @Html.LabelFor(m => m.SubmitMeme.BottomText)<br />
                    @Html.TextBoxFor(m => m.SubmitMeme.BottomText)<br />
                    
                    @Html.HiddenFor(m => m.SubmitMeme.MemeId)
                    @Html.HiddenFor(m => m.SubmitMeme.ImageUrl)
                    <input type="submit" value="Generate" style="margin-top:10px;" onclick="validateMemeGen()"/>
                </div>
            }
        </div>
        </div>
</div>